# Ignorer archives et gros fichiers
*.zip
*.rar
*.7z
*.tar.gz
*.iso
*.exe
*.dll
*.bin

# Médias lourds
*.mp4
*.avi
*.mov
*.psd

# Fichiers temporaires
*~
*.bak
.DS_Store
Thumbs.db

# Fichiers spécifiques FFXI (exemple)
*.dat
*.img

v30241003_2/raw_data/dialog/Ship_bound_for_Mhaura.yml
